@import "src/assets/styles/core/colors";

.connectionPage {
  width: 100%;
  text-align: center;
  height: 40.5rem;
  margin-top: 10rem;

  h1 {
    font-size : 3rem;
    font-weight :bold;
  }

  h1, h2 {
    color : $dark-blue;
  }

  &__wrapper {
    margin-top : 3rem;

    h2 {
      margin-top : 3rem;
    }

    input {
      margin-top : 0.5rem;
    }

    &__connection-button {
      margin-top : 3rem;
    }
  }
}