@import "src/assets/styles/core/colors";
.nav-check {
  display:none;
}
.divNavBar {
  display:flex;
  justify-content: space-between;
}
.topNavBar__label, #toggle {
  display : none;
}
.buttonResponsive , .divNavBarResponsive {
  display : none;
}
.topNavBar {
  font-size: 1rem;
  height : 1.5rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.6rem 0;
  margin: 1rem 0;
  border: 1px solid $dark-blue;
  white-space: nowrap;

  input[name="search-bar"] {
    display:none;
  }
  &__left {
    margin-right: 5rem;
    display: flex;
    a {
      float : left;
      margin-left: 5rem;
      text-decoration: none;
      color: $dark-blue;
    }
  }

  &__right {
    margin-left: 5rem;
    a {
      float : right;
      margin-right: 5rem;
      text-decoration: none;
      color: $dark-blue;
    }
  }
}

@media (max-width:800px) {
  .topNavBar {
    height: 100%;

    input[name="search-bar"] {
      display:inline-block;
      width : 70%;
      margin-left : 1rem;
      margin-top: 0.5rem;

    }

    .responsive {
      display: flex;
    }
  }

  .topNavBar .divNavBarResponsive {
    display: flex;
    flex-direction: column;
  }

  .topNavBar .divNavBarResponsive a {
       color: darkblue;


     }
  .topNavBar .divNavBarResponsive button {
    width: 90%;
    margin:0 -0.5rem 0 0;
    color: darkblue;


  }

  .divNavBarResponsive li {
    margin-top: 2rem;
    margin-left: 3rem;
  }

  #toggle:checked + .divNavBar {
    display: flex;
    position:absolute
  }

  .divNavBar {
    display:none;
  }

  .buttonResponsive {
    background-color : #FFFCF5;
    border: 0;
    width: 30px;
    display: flex;
    justify-content: left;
    align-items: center ;
    font-size: 40px;
    color: darkblue;
    cursor: pointer;
    margin-left: 2rem;
  }

  .topNavBarResponsive {
    display: flex;
  }
}
