$font-path: '../fonts';

@font-face {
  font-family: "made-tommy_black";
  src: url("src/assets/styles/fonts/made-tommy_black.otf");
  font-weight: normal ;
  font-style: normal;
}

@font-face {
  font-family: "made-tommy_bold";
  src: url("src/assets/styles/fonts/made-tommy_bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "made-tommy_extraBold";
  src: url("src/assets/styles/fonts/made-tommy_extraBold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "made-tommy_light";
  src: url("src/assets/styles/fonts/made-tommy_light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "made-tommy_medium";
  src: url("src/assets/styles/fonts/made-tommy_medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "made-tommy_regular";
  src: url("src/assets/styles/fonts/made-tommy_regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "made-tommy_thin";
  src: url("src/assets/styles/fonts/made-tommy_thin.otf");
  font-weight: normal;
  font-style: normal;
}