@import "src/assets/styles/core/colors";

.dashboard-page {
  display: flex;
  width: 100%;
  text-align: center;
  margin-top: 10rem;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
  }

  h2 {
    margin-top: 1.875rem;
    margin-bottom: 0.3125rem;
  }

  input {
    margin-top: 0.3125rem;
  }

  &__row-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

    &__table {
      margin-top: 1.875rem;
      text-align: center;

      &__button {
        margin-top: 1.875rem;
      }

      table {
        width: 100%;
        border: 0.1rem solid $light-blue;
        border-radius: 0.9375rem;
        border-collapse: collapse;
      }

      td {
        padding: 1rem;
        text-align: right;
      }

      tr:nth-of-type(odd) {
        background-color: $light-blue;
        color: white;
      }
    }
  }

  &__forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 1.875rem;
  }

  &__creation-account {
    margin-top: 3.125rem;

    &__title {
      font-weight: bold;
    }

    &__button {
      margin-top: 3.125rem;

      button {
        width: 15rem;
      }
    }

    &__checkbox {
      margin: 1.875rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__stats {
    margin-top: 3.125rem;

    &__title {
      font-weight: bold;
    }

    p {
      margin-top: 2rem;
    }
  }
}

@media (max-width: 50rem) {
  .dashboard-page {
    margin: 0;
    width: 100%;

    &__wrapper {
      display: block;
      margin: 0;

      &__table {
        width: 100%;
        height: auto;
      }
    }
  }
}
