@import "src/assets/styles/core/colors";

.topic-page {
  width: 100%;
  margin-top: 3.125rem;

  &__title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }

  &__main {
    display: flex;
    width: 100%;
    margin-top: 3.125rem;

    img {
      width: 17.5rem;
      height: 28.125rem;
      border-radius: 0.9375rem;
      object-fit: cover;
      margin-left: 1.825rem;
    }

    &__text {
      border: 0.1875rem solid black;
      border-radius: 0.9375rem;
      margin: 0 1.825rem;
      padding: 1rem;
      width: 100%;
      min-width: 15.2rem;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.875rem;
    width: 100%;
    flex-wrap: wrap;

    &__buttons {
      button {
        margin-right: 1.875rem;
      }
    }

    &__view-counter {
      margin-right: 3.65rem;
    }
  }

  &__create-comment {
    display: flex;
    margin-top: 1.875rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    textarea {
      width: 75%;
    }

    button {
      margin-left: 1.875rem;
    }
  }
}

@media (max-width: 50rem) {
  .topic-page {
    &__main {
      flex-wrap: wrap;
      justify-content: center;

      img {
        margin: 0;
      }

      &__text {
        margin: 1.825rem;
      }
    }

    &__footer {
      text-align: center;
      justify-content: center;
      margin-top: 0;

      &__buttons {
        margin-bottom: 1.825rem;

        button {
          margin-top: 1.825rem;
          margin-left: 0;
        }
      }
    }

    &__create-comment {
      justify-content: center;

      button {
        margin-top: 1.825rem;
        margin-left: 0;
      }
    }
  }
}
