@import "src/assets/styles/core/colors";

.categoriesButton {
  color: $dark-blue;
  margin: -0.1rem 0 0 5rem;
  cursor: pointer;
  border: none;
  background-color: $light-white;
  padding: 0;
  font-size: 1rem;
}

.categoriesMenu {
  position: absolute;
  border: 0.1rem solid $dark-blue;
  background-color: $light-white;
  width: 25rem;
  padding: 1rem 2rem 2rem 2rem;
  top: 9rem;
  left: 13rem;

  &__family-tag {
    margin-top: 1rem;

    &__button {
      border: none;
      background-color: $light-white;
      color: $dark-blue;
      font-size: 1rem;
      cursor: pointer;
    }
    &__tag {
      margin: 0.5rem 0 0 2rem;
      border: none;
      background-color: $light-white;
      color: $dark-blue;
      font-size: 0.8rem;
      cursor: pointer;
    }
  }
}

@media (max-width:800px) {
  .categoriesMenu {
    margin-left:-12rem;
    width : 77%;
    top : 23rem;

  }
.categoriesMenu button {
  font-size : 1rem;
  text-align: justify;
}

}