@import "src/assets/styles/core/colors";

.signupPage {
  width: 100%;
  text-align: center;
  margin-top: 5rem;

  h1 {
    font-size : 3rem;
    font-weight :bold;
  }

  h1, h2 {
    color : $dark-blue;
  }

  &__wrapper {
    margin-top : 3rem;

    h2 {
      margin-top : 3rem;
    }

    input {
      margin-top : 0.5rem;
      width : 20%;
    }

    &__mail-input {

    }

    &__password-input {

    }

    &__signup-button {
      margin-top : 3rem;
    }
  }
}