@import "src/assets/styles/core/colors";

.comment {
  &__self {
    display: flex;
    margin: 1.825rem;
    align-items: center;
    justify-content: right;

    button {
      margin-right: 1.825rem;
    }

    &__text {
      border: 0.1875rem solid $light-blue;
      border-radius: 0.9375rem;
      padding: 1rem;
      height: 10rem;
      width: 50%;
      background-color: $light-blue;
      color: white;
    }

    &__side {
      margin: 1rem;

      &__created-at {
        margin-top: 1rem;
      }
    }
  }

  &__other {
    display: flex;
    align-items: center;
    margin: 1.825rem;

    button {
      margin-left: 1rem;
    }

    &__side {
      margin: 1rem;

      &__created-at {
        margin-top: 1rem;
      }
    }

    &__text {
      border: 0.1875rem solid black;
      border-radius: 0.9375rem;
      background-color: white;
      padding: 1rem;
      color: black;
      height: 10rem;
      width: 45%;
    }
  }
}
