@import "assets/styles/core/fonts";
@import "assets/styles/core/colors";

body {
  background-color: white;
}

.app {
  font-family: "made-tommy_medium", sans-serif;
  background-color: white;
  overflow: hidden;
  font-size: 1.125rem;
}
